﻿@*
	Copyright (c) Net-Bits.Net ( http://www.net-bits.net ) and any other contributors.

	The above copyright notice and this permission notice shall be included in
	all copies or substantial portions of the Software.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
	AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
	LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
	OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
	THE SOFTWARE.

*@

@using ircwW3.Core
@using System.Text
@model ircwW3.Models.ChatUIViewModel
@{
	Layout = "~/Views/Shared/_ChatUIMain.cshtml";

	var iOSTouchScrolling = string.Empty;
	if (HttpContext.Current.Request.UserAgent.ToLower().Contains("ipad") || HttpContext.Current.Request.UserAgent.ToLower().Contains("iphone")) {
		iOSTouchScrolling = "style=\"-webkit-overflow-scrolling: touch; overflow-y: scroll;\"";
	}

	var UserWebchatClient = Model.WebchatClient;
	if (string.IsNullOrWhiteSpace(UserWebchatClient)) {
		UserWebchatClient = CoreHelpers.GetDefaultWebchatTemplate();
	}

	ViewBag.SiteURL = MainConfig.IConfig().SitePath;
	ViewBag.Title = CoreHelpers.GetChannelNameDisplayFormat(Model.STAG_CHANNELNAME);
	Model.STAG_NBWCHATROOTDIR = Url.Content("~/NBWChat");
	Model.STAG_NBWCHATTEMPLATEDIR = Model.STAG_NBWCHATROOTDIR + UserWebchatClient;
}

@section NBChatUIHtmlHeader {

	<!--
	/*
	Credits:
	Paddy Sparks - graphic design
	mmdesigns.us err0r - Webchat GUI
	net-bits.net HY - Flash/Javascript development.
	@@21-Nov-2014
	*/
	-->

	<style>
		#flashfailnotice {
			height: 205px;
			width: 300px;
			/* must be absolutely positioned so that overlapping will occur */
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #053F69;
			padding: 1px;
			color: white;
			font-size: 1.5em;
			margin: auto;
			z-index: 10000;
		}
	</style>

	<link rel="stylesheet" href="@Model.STAG_NBWCHATTEMPLATEDIR/jquery-ui.css?update=12,25,14" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/jquery-ui.min.js?update=12,25,14"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/jquery.tools.min.js?update=12,25,14"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript"  src="@Model.STAG_NBWCHATROOTDIR/js/jquery.ui.touch-punch.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="@Model.STAG_NBWCHATTEMPLATEDIR/nbchat30.css?v1.5" type="text/css" />
	<link class="changestyle" rel="stylesheet" href="@Model.STAG_NBWCHATTEMPLATEDIR/themes/default.css?v1.1" type="text/css" />
	<!--[if lte IE 9 ]>
	<link rel="stylesheet" href="@Model.STAG_NBWCHATTEMPLATEDIR/nbchat30ie.css?update=11,04,17" type="text/css" />
	<![endif]-->
	@*core functions here so they can be used.*@
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/nbchat_core.js?"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/platform.js">
		//Source/Credit: https://github.com/bestiejs/platform.js
	</script>

	<script type="text/javascript">

		sFUIDIR = '@Model.STAG_NBWCHATTEMPLATEDIR';
		sVersion = 'IRCwx Webchat v4';

		var gsLogRawsToBrowserConsole = @(new jsbool(CoreHelpers.LooseBoolConverter(Request.QueryString["LOGRAWSTOBC"])));
		var gsUseFlash = @(new jsbool(CoreHelpers.LooseBoolConverter(Request.QueryString["useflash"])));
		var HasWebsocketSupport = false;
		var gsPresenterInitialized = false;
		var gsUserId = "@Model.STAG_UserId";
		var gsOnlineUserStorage = @Html.Raw(Model.STAG_OnlineUserStorageJSON);
		var gsChannelName   = "%#@Html.Raw(CoreHelpers.EscapeJSStringQuotes(Model.STAG_CHANNELNAME))";
		var gsAuthPass      = "@Model.STAG_USERTICKET";
		var gsSiteUrl       = '@ViewBag.SiteURL'; //warning: if the domain is different then what is set here, then page may give unexpected results.
		var gsCategoryId    = '@Request.QueryString["c"]';
		var gsTopic         = '@Html.Raw(CoreHelpers.EscapeJSStringQuotes(Request.QueryString["t"]))';
		var gsWel           = '@Html.Raw(CoreHelpers.EscapeJSStringQuotes(Request.QueryString["wm"]))';
		var gsLang          = '@Html.Raw(CoreHelpers.EscapeJSStringQuotes(Request.QueryString["l"]))';
		var gsLang2         = ''; //not used, legacy code.

		function WriteNBFlashsocketComponentCode() {
			document.getElementById("nbflashchat20").innerHTML = "<div id=\"flashfailnotice\">Flash plugin is not installed or it is disabled in your browser." + flashembed.getHTML({ id: 'nbwchat', src: 'nbflashconnectionv4.swf?update=20,35', wmode: 'opaque' }) + "</div>";
		}

		function FlashSupported()  {
			//Source/Credit: https://github.com/jquerytools/jquerytools/blob/master/src/toolbox/toolbox.flashembed.js
			var fo, ver;

			try {
				ver = navigator.plugins["Shockwave Flash"].description.slice(16);
			} catch(e) {

				try  {
					fo = new ActiveXObject("ShockwaveFlash.ShockwaveFlash.7");
					ver = fo && fo.GetVariable("$version");

				} catch(err) {
					try  {
						fo = new ActiveXObject("ShockwaveFlash.ShockwaveFlash.6");
						ver = fo && fo.GetVariable("$version");
					} catch(err2) { }
				}
			}

			console.log("FlashSupported()::", ver);

			return false;

			return (!IsUndefinedOrNull(ver)) ? true : false;
		}

		function PossibleWebsocketVer13Support() {
			//Note: there is no clear way to detect ver13 hence 'Possible'

			try {
				//find older version of browser that supports old websocket protocol and return false.
				if (platform.name == "IE" && parseInt(platform.version) < 10) {
					return false;
				}

				if (platform.name == "Firefox" && parseInt(platform.version) < 48) {
					return false;
				}

				if (platform.name == "Chrome" && parseInt(platform.version) < 43) {
					return false;
				}

				if (platform.name == "Microsoft Edge" && parseInt(platform.version) < 14) {
					return false;
				}

				if (platform.name == "Opera" && parseInt(platform.version) < 12) {
					return false;
				}

				if (platform.name == "Safari" && parseInt(platform.version) < 6) {
					return false;
				}

				//mobile os, return true. Flash doesn't work on that anyways so no fallback needed.
				if (platform.os.toString().indexOf("iOS") >= 0 || platform.os.toString().indexOf("Android") >= 0) {
					return true;
				}

				//if reached here see if flash is available then use flash.
				if (FlashSupported()) {
					//flash object is enabled, probably old browser or flash will work, use flash connection.
					return false;
				}
			} catch(e) {
				//error happened in above code then just use websocket. which should be the default method.
			}

			return true;
		}

		if ('WebSocket' in window && window.WebSocket.CLOSING === 2 && PossibleWebsocketVer13Support() && gsUseFlash === false) {
			HasWebsocketSupport = true;
		}
	</script>

	<script type="text/javascript" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatres.js?update=12,25,14"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/global.js?update=12,25,14"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/nblang_v4.js?update=01,18,17"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/nbchat_connection.js?"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/ircwx_parser.js?"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/nbchat_controller.js?v=0001"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/nbchat_v4.js?update=11,16,17"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/jquery.cookie.js?update=12,25,14"></script>

	<script language="javascript" type="text/javascript">
		//warning: if the domain is different then what is set here, then page may give unexpected results.
		sSiteURL = '@ViewBag.SiteURL'; //old variable name, its a repeat to avoid unintended bugs, fix it later.
		iUserLoggin = @Model.STAG_USERLOGINTYPE;
		sGuestNick = '@Model.STAG_GUESTNICK';
		sIcoDir = sURIFUIDIR2 + 'images/listicons/';
		if (isWK) sEmotsDir = sURIFUIDIR2 + 'images/emots/';
		emotsWndURI = sFUIDIR + '/nbchatwndemoticons.htm?v=3.444';
	</script>

	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/wndmain.js?update=12,25,14"></script>
}
<!------------------------START------------------------------>
<div style="position:relative;height:100%;">
	<div class="container-fluid" style="height:100%;margin:0;padding:0;">
		<div class="ie-only">Internet Explorer 9 and below are not supported. Please update your Internet Explorer or choose an alternate browser.<br /><br /><a href="https://www.google.com/chrome/">Download Chrome</a><br /><a href="https://www.mozilla.org/firefox">Download Firefox</a></div>
		<div id="whisperwindowadd">
			<!---------------- Away Message Set ----------------------->
			<div id="wndSetAwayMsgContainer">
				<div class="awaymsgabouttext">Set or change your away message here!</div>
				<div id="setaway"><input type="text" id="txAwayMsg" name="txAwayMsg" style="width:100%;display:block;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;padding:3px 8px;" /></div>
				<div style="padding:10px 0 5px 0;text-align:center;">
					<input id="saveawaymsg" type="button" value="Save" />&nbsp;<input id="closeawaymsg" type="button" value="Cancel" />
				</div>
			</div>
			<!------------------------END------------------------------>
		</div>
		<!--------------- SLIDER DOWN BOX -EMOTES ------------------>
		<div id="sliderWrap">
			<span style="float:right;z-index:24;margin-top:5px;margin-right:5px;"><i class="emoteWindow closebutton fa fa-window-close"></i></span>
			<div id="emotesheader">
				<span id="emotesdrag"><i class='fa fa-arrows-alt'></i> Emoticons</span>
			</div>
			<div id="sliderContent">
				<div id="wndEmotsWindowContainerSub">
					<iframe scrolling="yes" id="wndFEmots" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatblank.htm" frameborder="0" scrolling="yes"></iframe>
				</div>
				<div style="display:none;" id="wndFEmotsstatus">0</div>
				<div id="openCloseIdentifier"></div>
			</div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Logo & Roomname Bar ------------>
		<div id="logoholder">
			<div id="siteicon"></div>
			<div id="headerlogo">@MainConfig.IConfig().SiteTitle</div>
			<div class="channame">
				<div class="insetborder">
					<span class="channame_nowchatting">Now Chatting In:</span> <img id="chanIco" border="0" src="@Model.STAG_NBWCHATTEMPLATEDIR/images/spacer.png" /> <span id="txChan" class="chanlabel">loading...</span>
				</div>
			</div>
			<span id="txChanModes" class="chanmodeslabel" style="display:none;"></span>
			<div id="nbflashchat20"></div>
			<script type="text/javascript">
				if (!HasWebsocketSupport) {
					flashconfig.src = '@Model.STAG_NBWCHATROOTDIR/nbflashconnectionv4.swf?update=20,35';
					flashembed("nbflashchat20", flashconfig);
				} else {
					$("#nbflashchat20").append('<img src="@Model.STAG_NBWCHATTEMPLATEDIR/images/nbwchat_logo_ws.png" border="0" />');
				}
			</script>
		</div>
		<!------------------------END------------------------------>
		<!-----------------BEGIN NAV------------------------------->
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a data-toggle="tooltip" title="Home" target="_blank" href="@Url.Content("~/")"><i class="fa fa-home"></i> Home</a></li>
							<li><a data-toggle="tooltip" title="More Rooms" target="_blank" href="@Url.Content("~/ChannelsList")"><i class="fa fa-list"></i> More Rooms</a></li>
							<li><a data-toggle="tooltip" class="optionstab" title="Options" href="#"><i class="fa fa-gears"></i> Options</a></li>
							<li><a data-toggle="tooltip" title="Help" target="_blank" href="@Url.Content("~/Help")"><i class="fa fa-question-circle "></i> Help</a></li>
							@using Microsoft.AspNet.Identity
						@{
							var MyUserId = User.Identity.GetUserId();
							var MyUserName = User.Identity.GetUserName();
						}

						@if (Request.IsAuthenticated)
						{
							<li><a target="_blank" href="@Url.Content("~/u/" + MyUserId + "/Manage")"><i class="fa fa-pencil"></i> Hello @MyUserName!</a></li>    
							<li><a data-toggle="tooltip" title="Log Off" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Log off</a></li>
							using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-form" }))
							{
								@Html.AntiForgeryToken()

							}

						}
						else
						{
							<li><a data-toggle="tooltip" title="Sign In" href="@Url.Content("~/Account/Login")"><i class="fa fa-sign-in"></i> Sign In</a></li>
							<li><a data-toggle="tooltip" title="Register" href="@Url.Content("~/Account/Register")"><i class="fa fa-pencil"></i> Register</a></li>
						}

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a title="blue" href="#" rel="default.css?v1.1" class="styleswitch"><div style="display:inline-block;width:12px;height:12px;border:1px solid #CCC;background-color:#285E83;"></div></a></li>
						<li><a title="black" href="#" rel="black.css?v1.1" class="styleswitch"><div style="display:inline-block;width:12px;height:12px;border:1px solid #CCC;background-color:black;"></div></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!------------------------END------------------------------>
		<!------------------------SIDEBUTTONS---------------------->
		<div id="chatnicklisttoggle"><a data-toggle="tooltip" href="#" title="toggle nicklist" class="btn btn-danger"><i class="fa fa-eye"></i></a></div>
		<div id="statuswindowtoggle"><a data-toggle="tooltip" id="statustabb" href="#" title="toggle status window" class="btn btn-info">(<span class="statuscountb">0</span>)</a></div>
		<div id="chatwindowtoggle"><a data-toggle="tooltip" id="chattabb" href="#" title="toggle chat window" class="btn btn-success"><i class="fa fa-comments"></i></a></div>
		<div id="optionswindowtoggle"><a data-toggle="tooltip" href="#" title="toggle options window" class="optionstab btn btn-warning"><i class="fa fa-gears"></i></a></div>
		<!------------------------END------------------------------>
		<!------------------------ Tabs Holder -------------------->
		<div id="statusholder">
			<div class="btn btn-info btn-sm inactivetab" id="statustab">Chat Notifications (<span class="statuscount">0</span>)</div>
			<div class="btn btn-success btn-sm activetab" id="chattab">Chatroom</div>
			<div style="display:none;" class="btn btn-warning btn-sm activetab" id="optiontoptab">Options</div>
			<div style="display:none;" class="btn btn-warning btn-sm activetab" id="accesstoptab">Access</div>
			<div style="display:none;" class="btn btn-warning btn-sm activetab" id="modestoptab">Modes</div>
			<div style="display:none;" class="btn btn-warning btn-sm activetab" id="propstoptab">Props</div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Options Window ------------------>
		<div id="optionswindowholder" style="display:none;">
			<div id="optionsbareaholder"><iframe style="overflow-x: hidden !important;" id="OptionsbPane" name="OptionsbPane" frameborder="0" scrolling="yes" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatblank.htm"></iframe></div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Access Window ------------------>
		<div id="accesswindowholder" style="display:none;">
			<div id="accessareaholder"><iframe style="overflow-x: hidden !important;" id="AccessPane" name="AccessPane" frameborder="0" scrolling="yes" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatblank.htm"></iframe></div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Modes Window ------------------>
		<div id="modeswindowholder" style="display:none;">
			<div id="modesareaholder"><iframe style="overflow-x: hidden !important;" id="ModesPane" name="ModesPane" frameborder="0" scrolling="yes" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatblank.htm"></iframe></div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Props Window ------------------>
		<div id="propswindowholder" style="display:none;">
			<div id="propsareaholder"><iframe style="overflow-x: hidden !important;" id="PropsPane" name="PropsPane" frameborder="0" scrolling="yes" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatblank.htm"></iframe></div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Status Window ------------------>
		<div id="statuswindowholder" style="display:none;">
			<div id="statusareaholder"><iframe style="overflow-x: hidden !important;" id="StatusPane" name="StatusPane" frameborder="0" scrolling="yes" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatstatuspane.htm"></iframe></div>
			<div id="clearstatusbtn" class="btn btn-danger">Clear Chat Notifications</div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Chat Window -------------------->
		<div id="chatwindowholder">
			<div id="chatareaholder" @Html.Raw(iOSTouchScrolling)><iframe style="overflow-x: hidden !important; -webkit-overflow-scrolling: touch; overflow-y: scroll; min-height: 101%;" id="ChatPane" name="ChatPane" frameborder="0" scrolling="yes" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatmainpane.htm"></iframe></div>
			<div id="chatnicklistbg"></div>
			<div id="nicklistinfo1">
				<div id="awayb"><a id="awayicon" class="awayicon_a" data-toggle="tooltip" title="Away" href="javascript:ToggleAwayButton(null, 'button');"><i class="fa fa fa-coffee"></i></a></div>
				<div id="txNumberOfUser">loading...</div>
			</div>
			<div id="nicklistinfo2">
				<div id="lvuMe" class="lvuitemMe">
					<img id="uicoMe" src="@Model.STAG_NBWCHATTEMPLATEDIR/images/listicons/spacer.gif" border="0" class="lvuitemico" />
					<span id="lbMe" class="lvuitemlbMe"></span>
				</div>
			</div>
			<div id="chatnicklistholder">
				<div id="chatnicklist">
					<div id="lvUsers" onmouseout="menuMouseOut(this);"></div>
				</div>
			</div>
						<div id="sendIntputDiv">
				<input id="txSend" name="txSend" type="text" maxlength="512" onclick="ScrollFix();" onkeypress="fnCheckKey(event);" onkeydown="onTxSendKeypress(event);" autocomplete="off" />
			</div>
			<div id="sendbuttons">
				<a id="btn_sendmsg" data-toggle="tooltip" title="Send Message" href="#" class="btn btn-sm btn-success">Send</a>
				<a id="btn_sendaction" data-toggle="tooltip" title="Send Action" href="#" class="btn btn-sm btn-primary"><i class="fa fa-exclamation"></i></a>
				<a data-toggle="tooltip" title="View Emotes" href="#" class="emoteWindow btn btn-sm btn-warning topMenuAction"><i class="fa fa-smile-o"></i></a>
				<a data-toggle="tooltip" title="Set Away Message" href="#" id="openawaymsg" class="btn btn-sm btn-info"><i class="fa fa-clock-o"></i></a>
			</div>
			<div id="nicklistuicons">
				<div class="buttonholder" style="font-size:23px;">
					<span><a data-toggle="tooltip" title="Whisper User" id="btn_whisperuser" class="btn_whisperuser_a" href="#"><i id="btnWhisp" class="fa fa-comments"></i></a></span>
					<span><a data-toggle="tooltip" title="Ignore User" id="btn_ignoreuser" class="btn_ignoreuser_a" href="#"><i id="btnIgnore" class="fa fa-ban"></i></a></span>
					<span><a data-toggle="tooltip" title="Tag User" id="btn_taguser" class="btn_taguser_a" href="#"><i id="btnTag" class="fa fa-check"></i></a></span>
					<span><a data-toggle="tooltip" title="View Profile" id="btn_viewprofile" class="btn_viewprofile_a" href="#"><i id="btnViewProfile" class="fa fa-photo"></i></a></span>
				</div>
			</div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Popup Menus -------------------->
		<div id="cmenuCP" class="contextmenu" tabindex="-1" onkeydown="mnuOnKeyPress(event, this);" onmouseover="menuMouseIn(this);" onmouseout="menuMouseOut(this);" unselectable="on">
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="mnuCpCopy" onclick="copyCP();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Copy</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="mnuCpSelectAll" onclick="selectAllCP();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Select All</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="mnuCpClearAll" onclick="clearCP();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Clear All</div>
			<!-- Timestamp hide/remove addon -->
			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="mnuCpToggleTS" onclick="ToggleTS();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Hide Timestamp</div>
			<!-- End timestamp addon -->
			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="listOptions" onclick="listCommands();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Commands</div>
			<div class="menuitem superownermenu"><b>Room Management Menu</b></div>
			<div tabindex="-1" class="menuitemsep superownermenu" align="center" unselectable="on"></div>
			<div class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="menuAccess" onClick="OpenAccessOptionsWnd();" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Room Access</div>
			<div class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="menuModes" onClick="OpenModesOptionsWnd();" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Room Modes</div>
			<div class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="menuProps" onClick="OpenPropsOptionsWnd();" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Room Properties</div>
		</div>
		<div id="mnuHost" tabindex="-1" class="contextmenu" onkeydown="mnuOnKeyPress(event, this);" style="width: 150px;" onmouseover="menuMouseIn(this);">
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVPH" onclick="mifViewProfile();" onkeydown="mnuOnKeyPress(event, this);" onmousedown="onMouseDown(event);" unselectable="on">View Profile</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miWH" onclick="mifWhisper();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on" style="font-weight: bold;">Whisper</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miIH" onclick="mifIgnore();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ignore</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miTUH" onclick="mifTaguser();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Tag User</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miLTH" onclick="mifLocaltime();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Local Time</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miAMH" onclick="mifAwayMessage();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Away Message</div>
			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miKH" onclick="mifKick();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Kick</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miKHM" onclick="mifKickwmsg();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Kick w/ Message</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miB15mH" onclick="mifBan15m();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ban 15 min.</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miB1hH" onclick="mifBan1h();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ban 1 hr</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miB24hH" onclick="mifBan24h();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ban 24 hr</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miBnolH" onclick="mifBannol();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ban No Limit</div>

			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVH" onclick="mifVoice();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Voice</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miPH" onclick="mifParti();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Participant</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miHOH" onclick="mifHelpOp();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">HelpOp</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miHH" onclick="mifHost();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Host</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miOH" onclick="mifOwner();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Owner</div>
			<div tabindex="-1" class="menuitemsep superownermenu" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miOH" onClick="mifPassport();" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Get Passport</div>
			<div tabindex="-1" class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miOH" onClick="mifAddAccess('OWNER');" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Add Owner Access</div>
			<div tabindex="-1" class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miOH" onClick="mifAddAccess('HOST');" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Add Host Access</div>
			<div tabindex="-1" class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miOH" onClick="mifAddAccess('VOICE');" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Add Voice Access</div>
			<div tabindex="-1" class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miOH" onClick="mifAddAccess('GRANT');" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Add Grant Access</div>
		</div>
		<div id="mnuHelpOp" tabindex="-1" class="contextmenu" onkeydown="mnuOnKeyPress(event, this);" style="width: 150px;" onmouseover="menuMouseIn(this);" unselectable="on">
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVPHO" onclick="mifViewProfile();" onkeydown="mnuOnKeyPress(event, this);" onmousedown="onMouseDown(event);" unselectable="on">View Profile</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miWHO" onclick="mifWhisper();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on" style="font-weight: bold;">Whisper</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miIHO" onclick="mifIgnore();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ignore</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miTUHO" onclick="mifTaguser();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Tag User</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miLTHO" onclick="mifLocaltime();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Local Time</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miAMHO" onclick="mifAwayMessage();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Away Message</div>
			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVHO" onclick="mifVoice();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Voice</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miPHO" onclick="mifParti();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Participant</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miKHO" onclick="mifKick();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Kick</div>
		</div>
		<div id="mnuHelpOp" tabindex="-1" class="contextmenu" onkeydown="mnuOnKeyPress(event, this);" style="width: 150px;" onmouseover="menuMouseIn(this);" unselectable="on">
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVPHO" onclick="mifViewProfile();" onkeydown="mnuOnKeyPress(event, this);" onmousedown="onMouseDown(event);" unselectable="on">View Profile</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miWHO" onclick="mifWhisper();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on" style="font-weight: bold;">Whisper</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miIHO" onclick="mifIgnore();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ignore</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miTUHO" onclick="mifTaguser();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Tag User</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miLTHO" onclick="mifLocaltime();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Local Time</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miAMHO" onclick="mifAwayMessage();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Away Message</div>
			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVHO" onclick="mifVoice();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Voice</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miPHO" onclick="mifParti();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Participant</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miKHO" onclick="mifKick();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Kick</div>
		</div>
		<div id="mnuHelpOp" tabindex="-1" class="contextmenu" onkeydown="mnuOnKeyPress(event, this);" style="width: 150px;" onmouseover="menuMouseIn(this);" unselectable="on">
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVPHO" onclick="mifViewProfile();" onkeydown="mnuOnKeyPress(event, this);" onmousedown="onMouseDown(event);" unselectable="on">View Profile</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miWHO" onclick="mifWhisper();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on" style="font-weight: bold;">Whisper</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miIHO" onclick="mifIgnore();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ignore</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miTUHO" onclick="mifTaguser();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Tag User</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miLTHO" onclick="mifLocaltime();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Local Time</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miAMHO" onclick="mifAwayMessage();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Away Message</div>
			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVHO" onclick="mifVoice();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Voice</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miPHO" onclick="mifParti();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Participant</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miKHO" onclick="mifKick();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Kick</div>
		</div>
		<div id="mnuUser" tabindex="-1" class="contextmenu" onkeydown="mnuOnKeyPress(event, this);" style="width: 115px;" onmouseover="menuMouseIn(this);" unselectable="on">
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVPU" onclick="mifViewProfile();" onkeydown="mnuOnKeyPress(event, this);" onmousedown="onMouseDown(event);" unselectable="on">View Profile</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miWU" onclick="mifWhisper();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on" style="font-weight: bold;">Whisper</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miIU" onclick="mifIgnore();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ignore</div>
			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miTUU" onclick="mifTaguser();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Tag User</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miLTU" onclick="mifLocaltime();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Local Time</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miAMU" onclick="mifAwayMessage();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Away Message</div>
		</div>
		<!------------------------END------------------------------>
		<div id="wndIcons" style="display:none"></div>
		<!------------------------ Footer ------------------------->
		<footer>
			<div>
				Powered By: Net-Bits.Net Webchat 4.0 (<a href="@Url.Content(string.Format("~/c/?cn={0}&useflash=1",Model.STAG_CHANNELNAME))">Connect With Flash</a>) &copy; 2006 - 2017 All rights Reserved. -
			<a href="@Url.Content("~/Privacy-Policy")">Privacy</a> - <a href="@Url.Content("~/ToU")">Terms of Use</a>
			</div>
		</footer>
		<!------------------------END------------------------------>
	</div>
</div>
<!------------------------END------------------------------>
<!------------------------ Advertisement ---------------------->
<div style="text-align:center;">
</div>
<!------------------------END------------------------------>
<script language="JavaScript" type="text/JavaScript">
	if($.cookie("css")) {
		var cssr = $.cookie("css");
		var cssrb = "@Model.STAG_NBWCHATTEMPLATEDIR/themes/" + cssr;
		$("link.changestyle").attr("href",cssrb);
	}
	$( window ).resize(function() {
		ScrollFix();ScrollFixs();
	});
	window.onbeforeunload = function() {
		if (bConfirmOnLeaveOff == false) {
			return "Are you sure you want to leave this chatroom?";
		}
	};
	$(document).ready(function(){
		fnInitialize();

		$('.styleswitch').on( "click", function() {
			var cssc = $(this).attr('rel');
			var csscb = "@Model.STAG_NBWCHATTEMPLATEDIR/themes/" + cssc;
			$("link.changestyle").attr("href",csscb);
			$.cookie("css",$(this).attr('rel'), {expires: 365, path: '/'});
			return false;
		});
		$('#chatnicklisttoggle').on( "click", function() {
			$('#chatnicklistbg').toggle();
			$('#chatnicklistholder').toggle();
			$('#nicklistuicons').toggle();
			$('#nicklistinfo1').toggle();
			$('#nicklistinfo2').toggle();
			return false;
		});
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
	<style>
		#flashfailnotice {
			height: 205px;
			width: 300px;
			/* must be absolutely positioned so that overlapping will occur */
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #053F69;
			padding: 1px;
			color: white;
			font-size: 1.5em;
			margin: auto;
			z-index: 10000;
		}
	</style>

	<link rel="stylesheet" href="@Model.STAG_NBWCHATTEMPLATEDIR/jquery-ui.css?update=12,25,14" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/jquery-ui.min.js?update=12,25,14"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/jquery.tools.min.js?update=12,25,14"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript"  src="@Model.STAG_NBWCHATROOTDIR/js/jquery.ui.touch-punch.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="@Model.STAG_NBWCHATTEMPLATEDIR/nbchat30.css?v1.5" type="text/css" />
	<link class="changestyle" rel="stylesheet" href="@Model.STAG_NBWCHATTEMPLATEDIR/themes/default.css?v1.1" type="text/css" />
	<!--[if lte IE 9 ]>
	<link rel="stylesheet" href="@Model.STAG_NBWCHATTEMPLATEDIR/nbchat30ie.css?update=11,04,17" type="text/css" />
	<![endif]-->
	@*core functions here so they can be used.*@
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/nbchat_core.js?"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/platform.js">
		//Source/Credit: https://github.com/bestiejs/platform.js
	</script>

	<script type="text/javascript">

		sFUIDIR = '@Model.STAG_NBWCHATTEMPLATEDIR';
		sVersion = 'IRCwx Webchat v4';

		var gsLogRawsToBrowserConsole = @(new jsbool(CoreHelpers.LooseBoolConverter(Request.QueryString["LOGRAWSTOBC"])));
		var gsUseFlash = @(new jsbool(CoreHelpers.LooseBoolConverter(Request.QueryString["useflash"])));
		var HasWebsocketSupport = false;
		var gsPresenterInitialized = false;
		var gsUserId = "@Model.STAG_UserId";
		var gsOnlineUserStorage = @Html.Raw(Model.STAG_OnlineUserStorageJSON);
		var gsChannelName   = "%#@Html.Raw(CoreHelpers.EscapeJSStringQuotes(Model.STAG_CHANNELNAME))";
		var gsAuthPass      = "@Model.STAG_USERTICKET";
		var gsSiteUrl       = '@ViewBag.SiteURL'; //warning: if the domain is different then what is set here, then page may give unexpected results.
		var gsCategoryId    = '@Request.QueryString["c"]';
		var gsTopic         = '@Html.Raw(CoreHelpers.EscapeJSStringQuotes(Request.QueryString["t"]))';
		var gsWel           = '@Html.Raw(CoreHelpers.EscapeJSStringQuotes(Request.QueryString["wm"]))';
		var gsLang          = '@Html.Raw(CoreHelpers.EscapeJSStringQuotes(Request.QueryString["l"]))';
		var gsLang2         = ''; //not used, legacy code.

		function WriteNBFlashsocketComponentCode() {
			document.getElementById("nbflashchat20").innerHTML = "<div id=\"flashfailnotice\">Flash plugin is not installed or it is disabled in your browser." + flashembed.getHTML({ id: 'nbwchat', src: 'nbflashconnectionv4.swf?update=20,35', wmode: 'opaque' }) + "</div>";
		}

		function FlashSupported()  {
			//Source/Credit: https://github.com/jquerytools/jquerytools/blob/master/src/toolbox/toolbox.flashembed.js
			var fo, ver;

			try {
				ver = navigator.plugins["Shockwave Flash"].description.slice(16);
			} catch(e) {

				try  {
					fo = new ActiveXObject("ShockwaveFlash.ShockwaveFlash.7");
					ver = fo && fo.GetVariable("$version");

				} catch(err) {
					try  {
						fo = new ActiveXObject("ShockwaveFlash.ShockwaveFlash.6");
						ver = fo && fo.GetVariable("$version");
					} catch(err2) { }
				}
			}

			console.log("FlashSupported()::", ver);

			return false;

			return (!IsUndefinedOrNull(ver)) ? true : false;
		}

		function PossibleWebsocketVer13Support() {
			//Note: there is no clear way to detect ver13 hence 'Possible'

			try {
				//find older version of browser that supports old websocket protocol and return false.
				if (platform.name == "IE" && parseInt(platform.version) < 10) {
					return false;
				}

				if (platform.name == "Firefox" && parseInt(platform.version) < 48) {
					return false;
				}

				if (platform.name == "Chrome" && parseInt(platform.version) < 43) {
					return false;
				}

				if (platform.name == "Microsoft Edge" && parseInt(platform.version) < 14) {
					return false;
				}

				if (platform.name == "Opera" && parseInt(platform.version) < 12) {
					return false;
				}

				if (platform.name == "Safari" && parseInt(platform.version) < 6) {
					return false;
				}

				//mobile os, return true. Flash doesn't work on that anyways so no fallback needed.
				if (platform.os.toString().indexOf("iOS") >= 0 || platform.os.toString().indexOf("Android") >= 0) {
					return true;
				}

				//if reached here see if flash is available then use flash.
				if (FlashSupported()) {
					//flash object is enabled, probably old browser or flash will work, use flash connection.
					return false;
				}
			} catch(e) {
				//error happened in above code then just use websocket. which should be the default method.
			}

			return true;
		}

		if ('WebSocket' in window && window.WebSocket.CLOSING === 2 && PossibleWebsocketVer13Support() && gsUseFlash === false) {
			HasWebsocketSupport = true;
		}
	</script>

	<script type="text/javascript" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatres.js?update=12,25,14"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/global.js?update=12,25,14"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/nblang_v4.js?update=01,18,17"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/nbchat_connection.js?"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/ircwx_parser.js?"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/nbchat_controller.js?v=0001"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/nbchat_v4.js?update=11,16,17"></script>
	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/jquery.cookie.js?update=12,25,14"></script>

	<script language="javascript" type="text/javascript">
		//warning: if the domain is different then what is set here, then page may give unexpected results.
		sSiteURL = '@ViewBag.SiteURL'; //old variable name, its a repeat to avoid unintended bugs, fix it later.
		iUserLoggin = @Model.STAG_USERLOGINTYPE;
		sGuestNick = '@Model.STAG_GUESTNICK';
		sIcoDir = sURIFUIDIR2 + 'images/listicons/';
		if (isWK) sEmotsDir = sURIFUIDIR2 + 'images/emots/';
		emotsWndURI = sFUIDIR + '/nbchatwndemoticons.htm?v=3.444';
	</script>

	<script type="text/javascript" src="@Model.STAG_NBWCHATROOTDIR/js/wndmain.js?update=12,25,14"></script>
}
<!------------------------START------------------------------>
<div style="position:relative;height:100%;">
	<div class="container-fluid" style="height:100%;margin:0;padding:0;">
		<div class="ie-only">Internet Explorer 9 and below are not supported. Please update your Internet Explorer or choose an alternate browser.<br /><br /><a href="https://www.google.com/chrome/">Download Chrome</a><br /><a href="https://www.mozilla.org/firefox">Download Firefox</a></div>
		<div id="whisperwindowadd">
			<!---------------- Away Message Set ----------------------->
			<div id="wndSetAwayMsgContainer">
				<div class="awaymsgabouttext">Set or change your away message here!</div>
				<div id="setaway"><input type="text" id="txAwayMsg" name="txAwayMsg" style="width:100%;display:block;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;padding:3px 8px;" /></div>
				<div style="padding:10px 0 5px 0;text-align:center;">
					<input id="saveawaymsg" type="button" value="Save" />&nbsp;<input id="closeawaymsg" type="button" value="Cancel" />
				</div>
			</div>
			<!------------------------END------------------------------>
		</div>
		<!--------------- SLIDER DOWN BOX -EMOTES ------------------>
		<div id="sliderWrap">
			<span style="float:right;z-index:24;margin-top:5px;margin-right:5px;"><i class="emoteWindow closebutton fa fa-window-close"></i></span>
			<div id="emotesheader">
				<span id="emotesdrag"><i class='fa fa-arrows-alt'></i> Emoticons</span>
			</div>
			<div id="sliderContent">
				<div id="wndEmotsWindowContainerSub">
					<iframe scrolling="yes" id="wndFEmots" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatblank.htm" frameborder="0" scrolling="yes"></iframe>
				</div>
				<div style="display:none;" id="wndFEmotsstatus">0</div>
				<div id="openCloseIdentifier"></div>
			</div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Logo & Roomname Bar ------------>
		<div id="logoholder">
			<div id="siteicon"></div>
			<div id="headerlogo">@MainConfig.IConfig().SiteTitle</div>
			<div class="channame">
				<div class="insetborder">
					<span class="channame_nowchatting">Now Chatting In:</span> <img id="chanIco" border="0" src="@Model.STAG_NBWCHATTEMPLATEDIR/images/spacer.png" /> <span id="txChan" class="chanlabel">loading...</span>
				</div>
			</div>
			<span id="txChanModes" class="chanmodeslabel" style="display:none;"></span>
			<div id="nbflashchat20"></div>
			<script type="text/javascript">
				if (!HasWebsocketSupport) {
					flashconfig.src = '@Model.STAG_NBWCHATROOTDIR/nbflashconnectionv4.swf?update=20,35';
					flashembed("nbflashchat20", flashconfig);
				} else {
					$("#nbflashchat20").append('<img src="@Model.STAG_NBWCHATTEMPLATEDIR/images/nbwchat_logo_ws.png" border="0" />');
				}
			</script>
		</div>
		<!------------------------END------------------------------>
		<!-----------------BEGIN NAV------------------------------->
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a data-toggle="tooltip" title="Home" target="_blank" href="@Url.Content("~/")"><i class="fa fa-home"></i> Home</a></li>
							<li><a data-toggle="tooltip" title="More Rooms" target="_blank" href="@Url.Content("~/ChannelsList")"><i class="fa fa-list"></i> More Rooms</a></li>
							<li><a data-toggle="tooltip" class="optionstab" title="Options" href="#"><i class="fa fa-gears"></i> Options</a></li>
							<li><a data-toggle="tooltip" title="Help" target="_blank" href="@Url.Content("~/Help")"><i class="fa fa-question-circle "></i> Help</a></li>
							@using Microsoft.AspNet.Identity
						@{
							var MyUserId = User.Identity.GetUserId();
							var MyUserName = User.Identity.GetUserName();
						}

						@if (Request.IsAuthenticated)
						{
							<li><a target="_blank" href="@Url.Content("~/u/" + MyUserId + "/Manage")"><i class="fa fa-pencil"></i> Hello @MyUserName!</a></li>    
							<li><a data-toggle="tooltip" title="Log Off" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Log off</a></li>
							using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-form" }))
							{
								@Html.AntiForgeryToken()

							}

						}
						else
						{
							<li><a data-toggle="tooltip" title="Sign In" href="@Url.Content("~/Account/Login")"><i class="fa fa-sign-in"></i> Sign In</a></li>
							<li><a data-toggle="tooltip" title="Register" href="@Url.Content("~/Account/Register")"><i class="fa fa-pencil"></i> Register</a></li>
						}

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a title="blue" href="#" rel="default.css?v1.1" class="styleswitch"><div style="display:inline-block;width:12px;height:12px;border:1px solid #CCC;background-color:#285E83;"></div></a></li>
						<li><a title="black" href="#" rel="black.css?v1.1" class="styleswitch"><div style="display:inline-block;width:12px;height:12px;border:1px solid #CCC;background-color:black;"></div></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!------------------------END------------------------------>
		<!------------------------SIDEBUTTONS---------------------->
		<div id="chatnicklisttoggle"><a data-toggle="tooltip" href="#" title="toggle nicklist" class="btn btn-danger"><i class="fa fa-eye"></i></a></div>
		<div id="statuswindowtoggle"><a data-toggle="tooltip" id="statustabb" href="#" title="toggle status window" class="btn btn-info">(<span class="statuscountb">0</span>)</a></div>
		<div id="chatwindowtoggle"><a data-toggle="tooltip" id="chattabb" href="#" title="toggle chat window" class="btn btn-success"><i class="fa fa-comments"></i></a></div>
		<div id="optionswindowtoggle"><a data-toggle="tooltip" href="#" title="toggle options window" class="optionstab btn btn-warning"><i class="fa fa-gears"></i></a></div>
		<!------------------------END------------------------------>
		<!------------------------ Tabs Holder -------------------->
		<div id="statusholder">
			<div class="btn btn-info btn-sm inactivetab" id="statustab">Chat Notifications (<span class="statuscount">0</span>)</div>
			<div class="btn btn-success btn-sm activetab" id="chattab">Chatroom</div>
			<div style="display:none;" class="btn btn-warning btn-sm activetab" id="optiontoptab">Options</div>
			<div style="display:none;" class="btn btn-warning btn-sm activetab" id="accesstoptab">Access</div>
			<div style="display:none;" class="btn btn-warning btn-sm activetab" id="modestoptab">Modes</div>
			<div style="display:none;" class="btn btn-warning btn-sm activetab" id="propstoptab">Props</div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Options Window ------------------>
		<div id="optionswindowholder" style="display:none;">
			<div id="optionsbareaholder"><iframe style="overflow-x: hidden !important;" id="OptionsbPane" name="OptionsbPane" frameborder="0" scrolling="yes" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatblank.htm"></iframe></div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Access Window ------------------>
		<div id="accesswindowholder" style="display:none;">
			<div id="accessareaholder"><iframe style="overflow-x: hidden !important;" id="AccessPane" name="AccessPane" frameborder="0" scrolling="yes" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatblank.htm"></iframe></div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Modes Window ------------------>
		<div id="modeswindowholder" style="display:none;">
			<div id="modesareaholder"><iframe style="overflow-x: hidden !important;" id="ModesPane" name="ModesPane" frameborder="0" scrolling="yes" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatblank.htm"></iframe></div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Props Window ------------------>
		<div id="propswindowholder" style="display:none;">
			<div id="propsareaholder"><iframe style="overflow-x: hidden !important;" id="PropsPane" name="PropsPane" frameborder="0" scrolling="yes" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatblank.htm"></iframe></div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Status Window ------------------>
		<div id="statuswindowholder" style="display:none;">
			<div id="statusareaholder"><iframe style="overflow-x: hidden !important;" id="StatusPane" name="StatusPane" frameborder="0" scrolling="yes" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatstatuspane.htm"></iframe></div>
			<div id="clearstatusbtn" class="btn btn-danger">Clear Chat Notifications</div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Chat Window -------------------->
		<div id="chatwindowholder">
			<div id="chatareaholder" @Html.Raw(iOSTouchScrolling)><iframe style="overflow-x: hidden !important; -webkit-overflow-scrolling: touch; overflow-y: scroll; min-height: 101%;" id="ChatPane" name="ChatPane" frameborder="0" scrolling="yes" src="@Model.STAG_NBWCHATTEMPLATEDIR/nbchatmainpane.htm"></iframe></div>
			<div id="chatnicklistbg"></div>
			<div id="nicklistinfo1">
				<div id="awayb"><a id="awayicon" class="awayicon_a" data-toggle="tooltip" title="Away" href="javascript:ToggleAwayButton(null, 'button');"><i class="fa fa fa-coffee"></i></a></div>
				<div id="txNumberOfUser">loading...</div>
			</div>
			<div id="nicklistinfo2">
				<div id="lvuMe" class="lvuitemMe">
					<img id="uicoMe" src="@Model.STAG_NBWCHATTEMPLATEDIR/images/listicons/spacer.gif" border="0" class="lvuitemico" />
					<span id="lbMe" class="lvuitemlbMe"></span>
				</div>
			</div>
			<div id="chatnicklistholder">
				<div id="chatnicklist">
					<div id="lvUsers" onmouseout="menuMouseOut(this);"></div>
				</div>
			</div>
						<div id="sendIntputDiv">
				<input id="txSend" name="txSend" type="text" maxlength="512" onclick="ScrollFix();" onkeypress="fnCheckKey(event);" onkeydown="onTxSendKeypress(event);" autocomplete="off" />
			</div>
			<div id="sendbuttons">
				<a id="btn_sendmsg" data-toggle="tooltip" title="Send Message" href="#" class="btn btn-sm btn-success">Send</a>
				<a id="btn_sendaction" data-toggle="tooltip" title="Send Action" href="#" class="btn btn-sm btn-primary"><i class="fa fa-exclamation"></i></a>
				<a data-toggle="tooltip" title="View Emotes" href="#" class="emoteWindow btn btn-sm btn-warning topMenuAction"><i class="fa fa-smile-o"></i></a>
				<a data-toggle="tooltip" title="Set Away Message" href="#" id="openawaymsg" class="btn btn-sm btn-info"><i class="fa fa-clock-o"></i></a>
			</div>
			<div id="nicklistuicons">
				<div class="buttonholder" style="font-size:23px;">
					<span><a data-toggle="tooltip" title="Whisper User" id="btn_whisperuser" class="btn_whisperuser_a" href="#"><i id="btnWhisp" class="fa fa-comments"></i></a></span>
					<span><a data-toggle="tooltip" title="Ignore User" id="btn_ignoreuser" class="btn_ignoreuser_a" href="#"><i id="btnIgnore" class="fa fa-ban"></i></a></span>
					<span><a data-toggle="tooltip" title="Tag User" id="btn_taguser" class="btn_taguser_a" href="#"><i id="btnTag" class="fa fa-check"></i></a></span>
					<span><a data-toggle="tooltip" title="View Profile" id="btn_viewprofile" class="btn_viewprofile_a" href="#"><i id="btnViewProfile" class="fa fa-photo"></i></a></span>
				</div>
			</div>
		</div>
		<!------------------------END------------------------------>
		<!------------------------ Popup Menus -------------------->
		<div id="cmenuCP" class="contextmenu" tabindex="-1" onkeydown="mnuOnKeyPress(event, this);" onmouseover="menuMouseIn(this);" onmouseout="menuMouseOut(this);" unselectable="on">
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="mnuCpCopy" onclick="copyCP();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Copy</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="mnuCpSelectAll" onclick="selectAllCP();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Select All</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="mnuCpClearAll" onclick="clearCP();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Clear All</div>
			<!-- Timestamp hide/remove addon -->
			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="mnuCpToggleTS" onclick="ToggleTS();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Hide Timestamp</div>
			<!-- End timestamp addon -->
			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="listOptions" onclick="listCommands();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Commands</div>
			<div class="menuitem superownermenu"><b>SuperOwner Menu</b></div>
			<div tabindex="-1" class="menuitemsep superownermenu" align="center" unselectable="on"></div>
			<div class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="menuAccess" onClick="OpenAccessOptionsWnd();" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Room Access</div>
			<div class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="menuModes" onClick="OpenModesOptionsWnd();" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Room Modes</div>
			<div class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="menuProps" onClick="OpenPropsOptionsWnd();" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Room Properties</div>
		</div>
		<div id="mnuHost" tabindex="-1" class="contextmenu" onkeydown="mnuOnKeyPress(event, this);" style="width: 150px;" onmouseover="menuMouseIn(this);">
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVPH" onclick="mifViewProfile();" onkeydown="mnuOnKeyPress(event, this);" onmousedown="onMouseDown(event);" unselectable="on">View Profile</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miWH" onclick="mifWhisper();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on" style="font-weight: bold;">Whisper</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miIH" onclick="mifIgnore();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ignore</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miTUH" onclick="mifTaguser();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Tag User</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miLTH" onclick="mifLocaltime();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Local Time</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miAMH" onclick="mifAwayMessage();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Away Message</div>
			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miKH" onclick="mifKick();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Kick</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miKHM" onclick="mifKickwmsg();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Kick w/ Message</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miB15mH" onclick="mifBan15m();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ban 15 min.</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miB1hH" onclick="mifBan1h();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ban 1 hr</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miB24hH" onclick="mifBan24h();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ban 24 hr</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miBnolH" onclick="mifBannol();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ban No Limit</div>

			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVH" onclick="mifVoice();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Voice</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miPH" onclick="mifParti();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Participant</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miHOH" onclick="mifHelpOp();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">HelpOp</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miHH" onclick="mifHost();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Host</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miOH" onclick="mifOwner();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Owner</div>
			<div class="menuitem superownermenu"><b>SuperOwner Menu</b></div>
			<div tabindex="-1" class="menuitemsep superownermenu" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miOH" onClick="mifPassport();" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Get Passport</div>
			<div tabindex="-1" class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miOH" onClick="mifAddAccess('OWNER');" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Add Owner Access</div>
			<div tabindex="-1" class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miOH" onClick="mifAddAccess('HOST');" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Add Host Access</div>
			<div tabindex="-1" class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miOH" onClick="mifAddAccess('VOICE');" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Add Voice Access</div>
			<div tabindex="-1" class="menuitem superownermenu" onMouseOver="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miOH" onClick="mifAddAccess('GRANT');" onKeyDown="mnuOnKeyPress(event, this);" unselectable="on">Add Grant Access</div>
		</div>
		<div id="mnuHelpOp" tabindex="-1" class="contextmenu" onkeydown="mnuOnKeyPress(event, this);" style="width: 150px;" onmouseover="menuMouseIn(this);" unselectable="on">
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVPHO" onclick="mifViewProfile();" onkeydown="mnuOnKeyPress(event, this);" onmousedown="onMouseDown(event);" unselectable="on">View Profile</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miWHO" onclick="mifWhisper();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on" style="font-weight: bold;">Whisper</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miIHO" onclick="mifIgnore();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ignore</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miTUHO" onclick="mifTaguser();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Tag User</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miLTHO" onclick="mifLocaltime();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Local Time</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miAMHO" onclick="mifAwayMessage();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Away Message</div>
			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVHO" onclick="mifVoice();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Voice</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miPHO" onclick="mifParti();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Participant</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miKHO" onclick="mifKick();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Kick</div>
		</div>
		<div id="mnuHelpOp" tabindex="-1" class="contextmenu" onkeydown="mnuOnKeyPress(event, this);" style="width: 150px;" onmouseover="menuMouseIn(this);" unselectable="on">
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVPHO" onclick="mifViewProfile();" onkeydown="mnuOnKeyPress(event, this);" onmousedown="onMouseDown(event);" unselectable="on">View Profile</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miWHO" onclick="mifWhisper();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on" style="font-weight: bold;">Whisper</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miIHO" onclick="mifIgnore();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ignore</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miTUHO" onclick="mifTaguser();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Tag User</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miLTHO" onclick="mifLocaltime();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Local Time</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miAMHO" onclick="mifAwayMessage();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Away Message</div>
			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVHO" onclick="mifVoice();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Voice</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miPHO" onclick="mifParti();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Participant</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miKHO" onclick="mifKick();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Kick</div>
		</div>
		<div id="mnuHelpOp" tabindex="-1" class="contextmenu" onkeydown="mnuOnKeyPress(event, this);" style="width: 150px;" onmouseover="menuMouseIn(this);" unselectable="on">
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVPHO" onclick="mifViewProfile();" onkeydown="mnuOnKeyPress(event, this);" onmousedown="onMouseDown(event);" unselectable="on">View Profile</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miWHO" onclick="mifWhisper();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on" style="font-weight: bold;">Whisper</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miIHO" onclick="mifIgnore();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ignore</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miTUHO" onclick="mifTaguser();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Tag User</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miLTHO" onclick="mifLocaltime();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Local Time</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miAMHO" onclick="mifAwayMessage();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Away Message</div>
			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVHO" onclick="mifVoice();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Voice</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miPHO" onclick="mifParti();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Participant</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miKHO" onclick="mifKick();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Kick</div>
		</div>
		<div id="mnuUser" tabindex="-1" class="contextmenu" onkeydown="mnuOnKeyPress(event, this);" style="width: 115px;" onmouseover="menuMouseIn(this);" unselectable="on">
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miVPU" onclick="mifViewProfile();" onkeydown="mnuOnKeyPress(event, this);" onmousedown="onMouseDown(event);" unselectable="on">View Profile</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miWU" onclick="mifWhisper();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on" style="font-weight: bold;">Whisper</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miIU" onclick="mifIgnore();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Ignore</div>
			<div tabindex="-1" class="menuitemsep" align="center" unselectable="on"></div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miTUU" onclick="mifTaguser();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Tag User</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miLTU" onclick="mifLocaltime();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Local Time</div>
			<div tabindex="-1" class="menuitem" onmouseover="menuItemMouseIn(this);" onmouseout="menuItemMouseOut(this);" id="miAMU" onclick="mifAwayMessage();" onkeydown="mnuOnKeyPress(event, this);" unselectable="on">Away Message</div>
		</div>
		<!------------------------END------------------------------>
		<div id="wndIcons" style="display:none"></div>
		<!------------------------ Footer ------------------------->
		<footer>
			<div>
				Powered By: Net-Bits.Net Webchat 4.0 (<a href="@Url.Content(string.Format("~/c/?cn={0}&useflash=1",Model.STAG_CHANNELNAME))">Connect With Flash</a>) &copy; 2006 - 2017 All rights Reserved. -
			<a href="@Url.Content("~/Privacy-Policy")">Privacy</a> - <a href="@Url.Content("~/ToU")">Terms of Use</a>
			</div>
		</footer>
		<!------------------------END------------------------------>
	</div>
</div>
<!------------------------END------------------------------>
<!------------------------ Advertisement ---------------------->
<div style="text-align:center;">
</div>
<!------------------------END------------------------------>
<script language="JavaScript" type="text/JavaScript">
	if($.cookie("css")) {
		var cssr = $.cookie("css");
		var cssrb = "@Model.STAG_NBWCHATTEMPLATEDIR/themes/" + cssr;
		$("link.changestyle").attr("href",cssrb);
	}
	$( window ).resize(function() {
		ScrollFix();ScrollFixs();
	});
	window.onbeforeunload = function() {
		if (bConfirmOnLeaveOff == false) {
			return "Are you sure you want to leave this chatroom?";
		}
	};
	$(document).ready(function(){
		fnInitialize();

		$('.styleswitch').on( "click", function() {
			var cssc = $(this).attr('rel');
			var csscb = "@Model.STAG_NBWCHATTEMPLATEDIR/themes/" + cssc;
			$("link.changestyle").attr("href",csscb);
			$.cookie("css",$(this).attr('rel'), {expires: 365, path: '/'});
			return false;
		});
		$('#chatnicklisttoggle').on( "click", function() {
			$('#chatnicklistbg').toggle();
			$('#chatnicklistholder').toggle();
			$('#nicklistuicons').toggle();
			$('#nicklistinfo1').toggle();
			$('#nicklistinfo2').toggle();
			return false;
		});
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
